/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v15/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
.inputIcon {
    min-height: 48px; 
    }
  .inputdemo md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; 
    }
  .inputdemo md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; 
    }
  .inputdemo md-input-container.md-input-invalid > md-icon.email,
  .inputdemo md-input-container.md-input-invalid > md-icon.name {
    color: red; 
    }
