<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Struts 2 Web Application</display-name>
  
  <!-- <context-param>
   <param-name>tilesDefinitions</param-name>
   <param-value>/WEB-INF/tiles.xml</param-value>
  </context-param>
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/classes/SpringBeans.xml</param-value>
  </context-param> -->
    
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

	<servlet>
        <servlet-name>HomeSolution</servlet-name>
        <servlet-class>HomeSolution</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeSolution</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
  <!-- <filter>
	<filter-name>struts2</filter-name>
	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  
  <filter-mapping>
	<filter-name>struts2</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping> -->
 
  <!--<context-param>
  <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG </param-name>
	<param-value>/WEB-INF/tiles.xml</param-value>
  </context-param>-->
  
  	<!-- <listener>
   		 <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   	</listener>
	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>  -->
	
	<!--<taglib>
     <taglib-uri>
	  http://struts.apache.org/tags-tiles
     </taglib-uri>
     <taglib-location>
	  /WEB-INF/struts-tiles.tld
     </taglib-location>
</taglib>-->

</web-app>